<h1>Stupid Coaching</h1>

<ul class="question">
    <li><%=@question_you%></li>
    <li class="person">- You </li>
</ul>


<ul class="answer">
  <li class="bold"><%=@answer%></li>
  <li class="person">- Your coach</li>
</ul>

<%= link_to "Ask a new question", ask_path %>
